<h1>Meet Me Halfway?</h1>
<!-- <img src='http://images.clipartpanda.com/spoon-and-fork-crossed-Aiga_restaurant_knife-fork_crossed.png' height='100px' width='100px'>
 -->

<div class="container">
  <div id="form">
    <form>
      <input type="text" id="start" placeholder="Where are they?">
      <br><br>
      <input type="text" id="endloc" placeholder="Where are you?">
    </form>
  </div>

    <div id="travelmode">
      <h2>Mode of Travel: </h2>
    </div>
    
    <div id="travelmodemenu">
      <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Subway or Bus</option>
      </select>
    </div>
</div>
    
    <br>

    <div id = "submit">
    <form>
      <button type="button" id="submit_button">Where can we eat?</button>
    </form>
    </div>

    <div id="error">
    </div>

  <br>

  <div id="map">
  </div>

</div>

