// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
	font-family: gill sans;
}

#top, #bottom, #left, #right {
	background: black;
	position: fixed;
}
	
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { 
	left: 0; 
}

#right { 
	right: 0; 
}
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}

#top { 
	top: 0; 
}

#bottom { 
	bottom: 0; 
}

body {
	background-color: #373737;
	color: #FF6600;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-family: gill sans;
	// -webkit-text-fill-color: #FF6600; Will override color (regardless of order)
 //  -webkit-text-stroke-width: 4px;
 //  -webkit-text-stroke-color: black;
}

.container {
	text-align: center;
}

#map {
	width: 600px;
	height: 500px;
	margin-left: 425px;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 7px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

button[type=button] {
    width: 18%;
    background-color: #FF6600;
    color: #373737;
    padding: 14px 20px;
    margin: 8px 0;
    border: 7px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button[type=button]:hover {
	border: 7px solid red;
	font-size: 20px;
}

p {
	font-size: 20px;
}

#mode {
  width: 10%;
  background-color: #FF6600;
  color: #373737;
  padding: 14px 20px;
  margin: 8px 0;
  border: 5px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.footer {
	padding-left: 12px;
	margin-bottom: 17px;
}

// MEDIA QUERIES //

//IPHONE 5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  body {
	  justify: center;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		font-family: gill sans;
	}

	#map {
	  margin-left: 11px;
	  width: 280px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 15px;
	}

	#mode {
	  width: 45%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 15px;
	}

.footer {
	padding-left: 12px;
	margin-bottom: 17px;
}

}



//IPHONE 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  body {
	  justify: center;
	}

	h1 {
		font-size: 35px;
		text-align: center;
		font-family: gill sans;
	}

	#map {
	  margin-left: 14px;
	  width: 330px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 17px;
	}
}

// //IPHONE SIX PLUS
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  body {
	  justify: center;
	}

	h1 {
		font-size: 40px;
		text-align: center;
		font-family: gill sans;
	}

	#map {
	  margin-left: 15px;
	  width: 370px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}
}

// GALAXY S5
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
  body {
	  justify: center;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		font-family: gill sans;
	}

	#map {
	  margin-left: 15px;
	  width: 315px;
	  height: 270px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  background-color: #FF6600;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 17px;
	}

}


