// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
	font-family: futura;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  border-bottom: solid 15px black;
  padding-top: 1px;
}

#top, #left, #right {
	background: black;
	position: fixed;
}
	
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { 
	left: 0; 
}

#right { 
	right: 0; 
}
		
#top{
	left: 0; right: 0;
	height: 15px;
}

#top { 
	top: 0; 
}

body {
	background-color: #020731;
	color: #848484;
}

h1 {
	font-size: 80px;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.container {
	text-align: center;
}

#map {
	width: 600px;
	height: 500px;
	margin-left: 485px;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #848484;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: #020731;
}

button[type=button] {
    width: 18%;
    background-color: white;
    color: #020731;
    padding: 14px 20px;
    // margin: 8px 0;
    border: 4px solid #848484;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    margin-left: 650px;
}

button[type=button]:hover {
	border: 7px solid red;
	font-size: 20px;
}

h2 {
	font-size: 20px;
	float: left;
	margin-left: 630px;
	font-family: futura;
}

p {
	font-size: 20px;
	padding-left: 22px;
	margin-bottom: 5px;
	// float: left;
}

#mode {
  width: 10%;
  color: #373737;
  margin: 8px 0;
  border: 2px solid #848484;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
	margin-top: 18px;
	margin-right: 610px;
}

.footer {
	color: #848484;
	text-align: left;
}


// MEDIA QUERIES //

//IPHONE 5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  body {
	  justify: center;
	}

	html {
		width: 100%;
		height: 100%;
		font-family: futura;
	}
	
	h1 {
		width: 100%;
		font-size: 30px;
		// padding-left: 50px;
		font-family: 'Pacifico', cursive;
		text-align: center;
	}

	#map {
	  margin-left: 11px;
	  width: 280px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #848484;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  color: #373737;
		float: left;
	  margin-left: 65px;
	  border: 6px solid #848484;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 15px;
	}

	h2 {
		font-size: 20px;
		float: left;
		margin-left: 10px;
		font-family: futura;
	}

	#mode {
	  width: 40%;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid #848484;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 12px;
	}

	.footer {
		padding-left: 10px;
		margin-bottom: 17px;
	}

}


//IPHONE 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  body {
	  justify: center;
	}
	
	html {
		height: 100%;
		font-family: futura;
	}

	h1 {
		font-size: 35px;
		text-align: center;
		font-family: 'Pacifico', cursive;
	}

	#map {
	  margin-left: 14px;
	  width: 330px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  color: #373737;
	  // padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	  float: left;
	  margin-left: 75px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	h2 {
		font-size: 20px;
		float: left;
		margin-left: 10px;
		font-family: futura;
	}

	p {
		font-size: 15px;
	}
}

// //IPHONE SIX PLUS
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  body {
	  justify: center;
	}

	html {
		height: 100%;
		font-family: futura;
	}

	h1 {
		font-size: 40px;
		text-align: center;
		font-family: 'Pacifico', cursive;
	}

	h2 {
		font-size: 20px;
		float: left;
		margin-left: 10px;
		font-family: futura;
	}

	#map {
	  margin-left: 15px;
	  width: 370px;
	  height: 300px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  color: #373737;
	  padding: 10px 15px;
	  margin: 5px 0;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 17px;
	}
}

// GALAXY S5
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
  body {
	  justify: center;
	}

	html {
		height: 100%;
		font-family: futura;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		font-family: 'Pacifico', cursive;
	}

	h2 {
		font-size: 20px;
		float: left;
		margin-left: 10px;
		font-family: futura;
	}

	#map {
	  margin-left: 15px;
	  width: 315px;
	  height: 270px;
	}
	
	input[type=text] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
	}

	button[type=button] {
	  width: 60%;
	  color: #373737;
	  padding: 10px 15px;
	  margin-left: 70px;
	  border: 6px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	button[type=button]:hover {
		width: 65%;
		border: 5px solid red;
		font-size: 20px;
	}

	#mode {
	  width: 45%;
	  color: #373737;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: 5px solid black;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 15px;
	}

	p {
		font-size: 14.5px;
	}

}


